*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.color-orange{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
 .section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}
header{
    background-color: #FFF8F3;
    background:url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left ,bottom right;
    background-repeat: no-repeat;
    padding-top: 100px;
}
nav{
    width: 67%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
#banner{
    margin: 47px 38px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
    margin-left: 150px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    text-align: left;
    padding: 0;
    margin-bottom: 10px;
}
#banner .banner-content h1{
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
    white-space: nowrap;
}
#banner .banner-content p{
    font-size: 30px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 700px;
    vertical-align: middle;
    height: 800px;
}
#about .about-container{
    width: 67%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-between;
}
.about-info .info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
    text-align:cnter;
}
.about-info .info-card h4{
    font-size: 13px;
}
#skills{
    padding-top: 100px;
}
#skills .skills-container{
    width: 67%;
    max-width: 1140px;
    margin: 0 auto;

}
#skills .skills-container .skill-box{
    display: flex;
    gap:24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 #00000023;
    max-width: 267px;
}
.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
}
.skill-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}